@import "normalize.less";
@import "grid.less"; // Semantic Grid 
@import "fonts/fonts.less";
@import "mixins.less";

/* ===== Primary Styles ========================================================
   Author: José Durães @ 3Code
   ========================================================================== */

.fontFaceContent(){
	font-weight: normal;
	font-family: 'Avenir45BookRegular', Arial, Verdana;
}

.fontFaceTitles(){
	font-family: 'RBNo2LightRegular', Georgia;
	font-weight: normal;
}

//------------------------------------------------------
/* Color Definitions */

@border_color: #ff9900;
@border_color_gradient_end: #c07300;

//------------------------------------------------------
* {
	.fontFaceContent();
}

body {
	color: white;
	width: 100%;
	height: 100%;
	overflow: hidden;
	.fontFaceContent();
}

ul, ol {
	margin: 0; 
	padding: 0;
}

// main outer div
#main {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #f3ece5; // replace this with the background texture
}
//------------------------------------------------------
// SUBSCRIPTION NAVIGATION -----------------------------

#logo-container {
	position: relative;
	width: 80%;
	height: 20%;
	margin: 0 auto;
	//border-bottom: @border_color solid 2px; // coiso
	z-index: 1000;
	background-color: black;
}

#app-logo {
	position: absolute;
	left: 50%;
	right: 0;
	top: 0;
	margin-top: 32.5px;
	height: 65px;
	width: 60px;
	margin-left: -30px;
	background: url(../resources/logo_feeds.svg) no-repeat;
	background-size: contain;
}

#navigation-subscriptions {
	z-index: 10;
	background-color: black;

	.element-down-arrow{
		display: block;
	}

	&.new {
		#logo-container {
			border-bottom: @border_color solid 2px;
		}

		.element-up-arrow {
			display: block;
		}

		.element-down-arrow {
			display: none;
		}

	}
}

#subscriptions {
	//ANIMATION
	transition: opacity 2s ease-in;	
	-moz-transition: opacity 2s ease-in;	
	.opacity(100);

	&.new{
		//.opacity(0);
	}

	&.animate{
		//.opacity(0);
	}
	// ---
}

.feed-description-container {
	.box-sizing(border-box);
	border-bottom: @border_color solid 2px;
	height: 80px;

	h1 {
		text-transform: uppercase;
		text-align: right;
		line-height: 80px;
		padding: 0 20px 0 20px;
	}

	&.active {
		background-color: @border_color;
		color: black;
		.transition(background-color ease-in 0.3s);
	}
}

li.feed-description-container {
	display: inline-block;
	width: 100%;
}
//-------------------------------------------------------
// FEED NAVIGATION --------------------------------------

#navigation-feed {
	z-index: 0;
	color: black;
	left: 25%;
	background-color: white;
	.opacity(100);
	//ANIMATION
	transition: left 0.40s ease-in-out, opacity 0.40s ease-in;
	-moz-transition: left 0.40s ease-in-out, opacity 0.40s ease-in;

	&.animate{
		left: 0;
		opacity: 0;
	}
	// ---
	&.my_hidden{
		left: 0;
		visibility: hidden;
	}
}

#feed {
	position: relative;
	margin-top: 15px;
	margin-bottom: 0px;
	padding-bottom: 20px;
}

#wrapper-subscriptions {
	position: relative;
	z-index: 1;
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

.element-down-arrow {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -15px;
	font-size: 0px; line-height: 0%; width: 0px; height: 0;
	border-top: 10px solid black;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	z-index: 100000;
	display: none;
}

.element-up-arrow {
	position: absolute;
	top: 0px;
	margin-top: -10px;
	left: 50%;
	margin-left: -15px;
	font-size: 0px; line-height: 0%; width: 0px; height: 0;
	border-bottom: 10px solid @border_color;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	z-index: 100000;
	display: none;
}

#subscriptions {
}

.feed-item-container {

	.wrapper {
		display: block;
		position: relative;
		margin: 10px 40px 10px 40px;
	}

	div.thumbnail {
			.box-sizing(border-box);
			width: 100%;
			position: relative;
			height: 150px;
			background-color: grey;
			background-size: cover;
			background-repeat: no-repeat;
	}

	div.title {
		.box-sizing(border-box);
		position: relative;
		display: inline-block;
		width: 100%;
		margin-top: 0;
		padding: 10px;

		h1 {
			text-transform: uppercase;
			text-align: right;
			color: black;
			max-height: 50px;
			line-height: 25px;
			word-wrap: break-word;
			font-size: 25px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	&.active {
		div.title {
			color: white;
			background-color: orange;
		}
	}

	margin-bottom: 5px;
}

//-------------------------------------------------------
// (SINGLE) ITEM NAVIGATION -----------------------------

#navigation-item {
	position: relative;
	height: 100%;
	width: 45%;
	left: 50%;
	.opacity(100);
	.transition(opacity 0.25s ease-in);
	z-index: 100;
	//ANIMATION
	&.animate{	
		.opacity(0);
		visibility: hidden;
	}

	&.active{
		.message-box {
			display: none;
		}
	}

	div.message-box {
		z-index: 10;
		position: absolute;
		top: 50%;
		right: 40%;
		width: 200px;
		height: 100px;
		color: @border_color;
	}
	// ---

}

#item{
	margin: 0;
	padding: 15px 10px 10px 10px;
	color: black;
}

.feed-item-container {
	overflow: hidden;
	text-overflow: ellipsis;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
}

//-------------------------------------------------------
/* GFX */

.gfx-arrow {
	position: absolute;
	background-size: cover;
	z-index: 1000;

	&.arrow_big_left {
		position: relative;
		background-image: url(../resources/arrow_big_left.svg);
		width: 32px;
		height: 32px;
	}

	&.up {
		top: 0;
		right: 0;
	}

	&.gfx-arrow_small_up {
		visibility: hidden;
		background-image: url(../resources/arrow_small_up.svg);
		width: 22px;
		height: 22px;		
	}

	&.down {
		bottom: 0;
		right: 0;
	}

	&.gfx-arrow_small_down {
		visibility: hidden;
		background-image: url(../resources/arrow_small_down.svg);
		width: 22px;
		height: 22px;
	}

	&.active {
		visibility: visible;
	}
}


#navigation-item {
	
	& .gfx-arrow.up {
			top: 0;
			right: 50%;
			margin-right: -22px;
	}

	& .gfx-arrow.down {
		bottom: 0;
		right: 50%;
		margin-right: -22px;
	}
}

.g_close {
    background-image: url('../resources/close.svg');
    z-index: 9999999;
    background-color: white;
    opacity: 0.5;
}

.feed_app_exit{
	position: fixed;
    right: 1em;
    top: 1em;
    width: 4.625em;
    height: 4.625em;
    background-size: contain;
    background-position: center;
}

.inline-mix {
}

//-------------------------------------------------------
/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
	.fontFaceTitles();
}

//-------------------------------------------------------

@import "media-queries.less";
@import "helpers.less";
@import "print.less";
