* {
	margin: 0;
	padding: 0;
    font-family: "RBNo2 Light";
    font-weight: normal;
	cursor: default;
	-moz-user-select: none;
}

html {
    background-color: blue;
}

body,html {
    font-size: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: black;
}

.l_main {
    width: 100%;
    height: 100%;
}

.l_lauch_area {
    width:100%;
    height: 100%;
}

.l_frame {
    position: relative;
    top:-100%;
    height: 100%;
    width: 100%;
    border: none;
}

.l_loading {
    position: relative;
    top:-200%;
    width: 100%;
    height: 100%;
    background: -moz-radial-gradient(center, circle cover, rgba(32,32,32,1) 0%, rgba(0,0,0,1) 100%); 
}
.l_app_image {
    left: 30%;
    position: relative;
    top: 15%;
    width: 40%;
    height: 71%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../gallery/icon.svg');
}
.l_load_indicator {
    border-radius: 0.5em;
    overflow: hidden;
    position: relative;
    top: -moz-calc(100% + 0.5em);
    width: -moz-calc(100% - 4px);
    height: 2.125em;
    border: solid 2px RGB(8,8,8);
    background-color: RGB(10,10,10);
   }

.l_load_indicator > div {
    border-radius: inherit;
    width: 25%;
    height: 100%;
    background-color: RGB(255,255,255);
    -moz-animation: l_loading_animation 0.7s linear alternate infinite;
}


@-moz-keyframes l_loading_animation {
    from {
        -moz-transform: translateX(0);
    }

    to {
        -moz-transform: translateX(300%);
    }

}
